@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
    background: none;
}

html{
    background-color: #fedaff6f;
    scroll-behavior: smooth;
}

/* ---------- Header Setup ----------*/
.navbar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(16, 82, 239, 0.75) 0%, rgba(52, 52, 52, 0.15) 90%);
    width: 100vw;
    z-index: 2;
    align-items: center;
}

.logoContainer{
    display: flex;
    margin-left: 25px;
}

.logo{
    display: flex;
    width: 80px;
    height: 80px;
}

.headerIndexTag{
    margin-top: -5px;
    letter-spacing: 2px;
    text-decoration: none;
    color: whitesmoke;
    background: none;
    font-size: 25px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.headerIndexTag span{
    margin-bottom: -10px;
    display: flex;
    color: #f12237;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2px;
}

.listContainer{
    display: flex;
    justify-content: center;
}

.navigation{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    list-style: none;
    gap: 25px;
    margin-right: 50px;
}

.navigation li a{
    text-decoration: none;
    font-size: 26px;
    word-spacing: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    color: whitesmoke;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.navigation li a span{
    text-shadow: none;
    font-weight: 500;
    color: gray;
}

.navigation li a:hover{
    color: #f12237;
}

/* ---------- Footer Section Setup ----------*/
footer{
    width: 100%;
    margin-top: 8px;
}

.footerTextandLogoContainer{
    display: flex;
    justify-content: center;
    gap: 35px;
}

.addressContainer{
    display: flex;
    flex-direction: column;
    justify-content: right;
    margin-left: -50px;
}

.addressContainer h6{
    font-size: 20px;
    text-align: right;
}

.addressContainer p{
    text-align: right;
}

.footerLogoContainer{
    display: flex;
    align-items: center;
}

.footerLogo{
    width: 100px;
    height: 100px;
}

.footerLogoContainer h3{
    font-size: 25px;
    font-weight: 500;
    color: #1e1e1e;
}

.footerLogoContainer h3 span{
    font-family: "Kanit", sans-serif;
    font-size: 40px;
    line-height: 10px;
    letter-spacing: 1px;
    color: #f12237;
}

.contactButtonContainer{
    display: flex;
    justify-content: left;
    align-items: center;
}

.contactButton{
    background-color: #44748a;
    border-radius: 25px;
    padding: 15px;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contactButton h3{
    font-size: 20px;
    color: #efefef;
}

.contactButton h3:hover{
    color: #f12237;
}

.socialLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.socialLink img{
    width: 24px;
    height: 24px;
}

.rightsReserved{
    display: flex;
    justify-content: center;
    padding: 5px;
}

/* ---------- Index Hero Setup ----------*/
.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #44748a;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

.heroBackground{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.75;
    z-index: 0;
}

.heroText{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 725px;
    z-index: 1;
    padding: 15px;
    padding-left: 35px;
    margin-left: 5%;
    margin-bottom: 5%;
    border-radius: 50px;
    background: #1a1a1a5c;
}

.heroText h1{
    display: inline-block;
    color: whitesmoke;
    font-size: 60px;
    margin-bottom: 30px;
}

.heroText h1 span{
    font-family: "Kanit", sans-serif;
    line-height: 0px;
    color: #f12237;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    word-spacing: 10px;
}

.heroText p{
    color: whitesmoke;
    font-size: 22px;
}

.eventsButtonContainer{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin-right: 5%;
    margin-bottom: 5%;
}

.eventsButton{
    display: flex;
    text-decoration: none;
    padding: 20px;
    border-radius: 75px;
}

.eventsButton:hover{
    box-shadow: inset 0 0 100px rgb(114, 114, 114);
    background-color:rgba(35, 35, 175, 0.462);
}

.viewEvents{
    color: whitesmoke;
    margin-top: 38px;
    margin-right: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.arrow{
    width: 100px;
    height: 100px;
    background: #f12237;
    border-radius: 100%;
}

/* ---------- Index Building Description Setup ----------*/
.buildingDescriptionContainer{
    display: flex;
    align-items: center;
}

.buildingImages{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.buildingImages img{
    width: 450px;
    height: 450px;
    margin: 20px;
}

.buildingDescriptionText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 48%;
}

.buildingDescriptionText h2{
    font-size: 35px;
    font-weight: 400;
}

.buildingDescriptionText p{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    margin-right: 70px;
    font-size: 20px;
    width: 75%;
}

.buildingLogoContainer{
    display: flex;
    align-items: center;
}

.buildingTextLogo{
    width: 300px;
    height: 300px;
}

.buildingLogoContainer h3{
    font-size: 50px;
    font-weight: 400;
    color: #464646;
    letter-spacing: 2px;
}

.buildingLogoContainer h3 span{
    font-family: "Kanit", sans-serif;
    color: #f12237;
    font-size: 85px;
    line-height: 10px;
}

/* ---------- Index Reviews Section Setup ----------*/
.reviewsSectionContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #44748a;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
}

.reviewTitle{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
}

.reviewTitle h2{
    display: flex;
    align-items: center;
    font-size: 50px;
    color: #efefef;
}

.aboutButtonContainer{
    display: flex;
}

.aboutButton{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 20px;
    border-radius: 75px;
}

.aboutButton:hover{
    box-shadow: inset 0 0 100px rgb(114, 114, 114);
    background-color:rgba(35, 35, 175, 0.462);
}

.aboutButton h3{
    color:#efefef;
    margin-right: 20px;
}

.reviewCardsContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 25px;
    margin-bottom: 25px;
    gap: 50px;
}

.reviewCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 425px;
    height: 650px;
    overflow: hidden;
    background-color: antiquewhite;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.721);
}

.customerImage{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 50px;
    border: solid 8px rgb(195, 195, 195);
}

.reviewCard h4{
    font-size: 25px;
    color: #1e1e1e;
    margin: 10px;
}

.reviewCard p{
    font-size: 17px;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 5px;
}

.reviewCard h5{
    font-size: 25px;
    background-color: #1a5a85a5;
    padding: 10px;
    padding-top: 5px;
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

/* ---------- About Main Section Setup ----------*/
.aboutMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:#f12237 ;
}

.aboutIntro{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: 450px;
    background: #000;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.aboutIntro h2{
    padding: 25px;
    padding-top: 150px;
    padding-left: 65px;
    font-size: 60px;
    letter-spacing: 2px;
    color: #efefef;
    z-index: 1;
}

.aboutIntro p{
    width: 700px;
    font-size: 25px;
    padding-left: 65px;
    color: #efefef;
    z-index: 1;
}

.aboutBackground{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 450px;
    object-fit:cover;
    opacity: 0.65;
    z-index: 0;
}

/* ---------- About Admin Section Setup ----------*/
.adminStaff{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin-top: 50px;
    padding-left: 65px;
}

.adminStaff h3{
    display: flex;
    flex-direction: column;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 50px;
    color: #1e1e1e;
}

.adminCardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 50px;
}

.adminCard{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 600px;
}

.adminImage{
    width: 600px;
    height: 600px;
    border: solid 10px #464646;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.adminCard h4{
    font-size: 35px;
    margin-top: 15px;
    color: #1e1e1e;
}

.adminCard p{
    margin-top: 15px;
    font-size: 20px;
    color: #efefef;
}

/* ---------- About Coordinator Section Setup ----------*/
.coordinationStaff{
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 100%;
    margin-top: 50px;
    padding-right: 65px;
    background:#44748a;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.coordinationStaff h3{
    display: flex;
    justify-content: right;
    color: #efefef;
    font-size: 45px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 50px;
}

.coordinatorCardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 50px;
    margin-bottom: 50px;
}

.coordinatorCard{
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 600px;
}

.coordinatorImage{
    width: 600px;
    height: 600px;
    border: solid 10px #464646;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.coordinatorCard h4{
    font-size: 35px;
    color: #efefef;
    margin-top: 15px;
}

.coordinatorCard p{
    margin-top: 15px;
    font-size: 20px;
    
    color: #1e1e1e;
}

/* ---------- Events Main Section Setup ----------*/
.eventsMain{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eventsIntro{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: 450px;
    background: #000000d1;
}

.eventBackgroundImage{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 450px;
    object-fit:cover;
    opacity: 0.65;
    z-index: 0;
}

.eventsIntro h2{
    margin-top: 225px;
    margin-left: 75px;
    font-size: 55px;
    color: #efefef;
    z-index: 1;
}

.pastEventsSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #44748a;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.pastEventsSection h2{
    padding: 50px;
    font-size: 50px;
    font-weight: 400;
    color: #efefef;
}

.previousEventsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 35px;
}

.previousEventsContainer h3{
    width: 75%;
    font-size: 35px;
    font-weight: 400;
    margin-left: 50px;
    text-align: center;
    color: #efefef;
}

.pastEventsCardsContainer{
    display: flex;
    gap: 35px;
}

.pastEventsCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1e1e1e;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.pastEventsCard h3{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #efefef;
}

.pastEventImage{
    width: 650px;
}

/* ---------- Events Table Section Setup ----------*/
.tableSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 60px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.eventsTable{
    width: 800px;
    border-collapse: collapse;
}

.eventsTable caption{
    font-size: 45px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
}

.eventsTable th{
    font-size: 25px;
    padding: 5px;
    text-align: left;
    border: 3px solid black;
}

.eventsTable tr td{
    font-size: 18px;
    padding: 5px;
    border: 1px solid black;
}

.bookNowButton{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 20px;
    border-radius: 75px;
}

.bookNowButton h3{
    color:#1e1e1e;
    font-size: 25px;
    margin-right: 20px;
    letter-spacing: 3px;
}

.bookNowButton:hover{
    box-shadow: inset 0 0 100px rgb(114, 114, 114);
    background-color:rgba(35, 35, 175, 0.462);
}

/* ---------- Events Layout Section Setup ----------*/
.layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #464646;
    box-shadow: inset 0 10px 10px -10px rgb(241, 34, 55), inset 0 -10px 10px -10px rgb(241, 34, 55);
}

.layout h2{
    color: #efefef;
    font-size: 50px;
    font-weight: 450;
    letter-spacing: 2px;
    padding-bottom: 50px;
}

.layoutImages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.layoutImageContainer{
    width: 900px;
    background-color: #FAFAFA;
    border: solid 10px #44748a;
    border-radius: 15px;
}

.layoutImage{
    width: 100%;
    border-radius: 15px;
}

/* ---------- Contact Main Section Setup ----------*/
.contactMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactIntro{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    height: 450px;
    background: #000000d1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.contactBackground{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 450px;
    object-fit:cover;
    opacity: 0.65;
    z-index: 0;
}

.contactIntro h1{
    margin-top: 225px;
    margin-left: 75px;
    font-size: 55px;
    color: #efefef;
    z-index: 1;
    letter-spacing: 2px;
}

.bookingForm{
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formTitle{
    padding: 25px;
    font-size: 40px;
    font-weight: 450;
    letter-spacing: 2px;
    color: #1e1e1e;
}

.sectionTitle{
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #1e1e1e;
}

.field{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.field label{
    font-size: 22px;
    color: #464646;
}

.field input,
.field select,
.field textarea{
    border: none;
    border-bottom: 2px solid #44748a;
    background: transparent;
    outline: none;
    font-size: 18px;
}

.gridTop .field input{
    width: 35vh;
}

.gridBot .field input{
    width: 45vh;
}

.gridTop{
    display: flex;
    gap: 20px;
}

.gridBot{
    display: flex;
    gap: 20px;
}

.attendanceContainer{
    display: flex;
}

.dateBox{
    width: 25vh;
}

.field select{
    width: 25vh;
}

.field textarea{
    width: 70vh;
    background: #46464614;
    border-radius: 5px;
}

.submitButtonContainer{
    margin-left: 16px;
}

.submitButton{
    font-size: 20px;
    font-weight: 450;
    padding: 5px;
    color: #1e1e1e;
    border: solid 3px #f12237d3;
    border-radius: 8px;
    background-color: #46464614;
    cursor: pointer;
}

.submitButton:hover{
    background-color: #f12237;
    color: #efefef;
}

.ourContactInfo{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.ourContactInfo h2{
    font-size: 28px;
    font-weight: 450;
}

.ourContactInfo h4{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding: 2px;
}