@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Rubik", sans-serif;
    background: none;
}

html{
    background-color: #fedaff6f;
    display: flexbox;
}
/* ---------- Header Setup ----------*/
.navbar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(16, 82, 239, 0.75) 0%, rgba(52, 52, 52, 0.15) 90%);
    width: 100vw;
    z-index: 2;
    align-items: center;
}

.logoContainer{
    display: flex;
    margin-left: 25px;
}

.logo{
    display: flex;
    width: 80px;
    height: 80px;
}

.headerIndexTag{
    margin-top: -5px;
    letter-spacing: 2px;
    text-decoration: none;
    color: whitesmoke;
    background: none;
    font-size: 25px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.headerIndexTag span{
    margin-bottom: -10px;
    display: flex;
    color: #f12237;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 2px;
}

.listContainer{
    display: flex;
    justify-content: center;
}

.navigation{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    list-style: none;
    gap: 25px;
    margin-right: 50px;
}

.navigation li a{
    text-decoration: none;
    font-size: 26px;
    word-spacing: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    color: whitesmoke;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.navigation li a span{
    text-shadow: none;
    font-weight: 500;
    color: gray;
}

.navigation li a:hover{
    color: #f12237;
}

/* ---------- Index Hero Setup ----------*/
.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-color: #44748a;
    display: flex;
    justify-content: space-between;
}

.heroBackground{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.75;
    z-index: 0;
}

.heroText{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 725px;
    z-index: 1;
    padding: 15px;
    padding-left: 35px;
    margin-left: 5%;
    margin-bottom: 5%;
    background: linear-gradient(rgba(133, 133, 133, 0.851) 0%, rgba(83, 83, 83, 0.837) 90%);
    border-radius: 50px;
}

.heroText h1{
    display: inline-block;
    color: whitesmoke;
    font-size: 60px;
    margin-bottom: 30px;
}

.heroText h1 span{
    color: #f12237;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    word-spacing: 10px;
}

.heroText p{
    color: whitesmoke;
    font-size: 22px;
}

.eventsButtonContainer{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    margin-right: 5%;
    margin-bottom: 5%;
}

.eventsButton{
    display: flex;
    text-decoration: none;
    padding: 20px;
    border-radius: 75px;
}

.eventsButton:hover{
    box-shadow: inset 0 0 100px rgb(114, 114, 114);
    background-color:rgba(35, 35, 175, 0.462);
}

.viewEvents{
    color: whitesmoke;
    margin-top: 38px;
    margin-right: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.arrow{
    width: 100px;
    height: 100px;
    background: #f12237;
    border-radius: 100%;
}

/* ---------- Index Building Description Setup ----------*/
.buildingDescriptionContainer{
    display: flex;
    align-items: center;
}

.buildingImages{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.buildingImages img{
    width: 450px;
    height: 450px;
    margin: 20px;
}

.buildingDescriptionText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 48%;
}

.buildingDescriptionText h2{
    font-size: 35px;
    font-weight: 400;
}

.buildingDescriptionText p{
    display: flex;
    flex-wrap: wrap;
    margin: 25px;
    margin-right: 70px;
    font-size: 20px;
    width: 75%;
}

.buildingLogoContainer{
    display: flex;
    align-items: center;
}

.buildingTextLogo{
    width: 300px;
    height: 300px;
}

.buildingLogoContainer h3{
    font-size: 50px;
    font-weight: 400;
    color: #464646;
    letter-spacing: 2px;
}

.buildingLogoContainer h3 span{
    font-family: "Kanit", sans-serif;
    color: #f12237;
    font-size: 85px;
    line-height: 10px;
}