@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Rubik", sans-serif;
    background-color: #fedaff6f;
}

/* ---------- Header Setup ----------*/
.navbar{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    background-color: rgba(55, 124, 167, 0.767);
    width: 100vw;
    z-index: 1;
    border-bottom: 5px solid rgba(0, 0, 0, 0.837);
    align-items: center;
}

.logoContainer{
    display: flex;
    background-color: transparent;
    margin-left: 25px;
}

.logo{
    display: flex;
    width: 80px;
    height: 80px;
    background-color: transparent;
}

.headerIndexTag{
    margin-top: 5px;
    text-decoration: none;
    color: whitesmoke;
    background-color: transparent;
    font-size: 25px;
    letter-spacing: -1px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.headerIndexTag span{
    color: #f12237;
    background-color: transparent;
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-size: 40px;
    letter-spacing: 2px;
}

.listContainer{
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    list-style: none;
    gap: 25px;
    margin-right: 50px;
}

.navigation li{
    background-color: transparent;
}

.navigation li a{
    text-decoration: none;
    background-color: transparent;
    font-size: 26px;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    color: whitesmoke;
}

.navigation li a:hover{
    color: #f12237;
}